{%- comment -%} Stream all items from the chosen collection, current language {%- endcomment -%}
{%- assign coll = site[page.collection_name] | where: "lang", site.active_lang -%}

<div id="stream">
  {%- for doc in coll -%}
  <article class="stream-card"
           data-cats="{{ doc.categories | join: ' ' }}"
           data-tags="{{ doc.tags | join: ' ' }}">
    <h2 class="stream-title">{{ doc.title }}</h2> <!-- no hyperlink -->
    <div class="stream-meta">
      {% if doc.categories and doc.categories != empty %}
        <span class="taxonomy-label">Categories:</span>
        <ul class="taxonomy-list">
          {% for c in doc.categories %}
            <li class="taxonomy-item cat--{{ c | slugify }}" data-filter="cat">{{ c }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    
      {% if doc.tags and doc.tags != empty %}
        <span class="taxonomy-label">Tags:</span>
        <ul class="taxonomy-list">
          {% for t in doc.tags %}
            <li class="taxonomy-item tag--{{ t | slugify }}" data-filter="tag">{{ t }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="stream-body">
      {{ doc.content }}
    </div>
    <hr class="stream-divider"/>
  </article>
  {%- endfor -%}
</div>
